<header>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-text">
                        <span class="name">Team Hub</span>
                        <hr class="star-light">
                        <span class="motto">Connect - Collaborate - Communicate</span>
                    </div>
                </div>
            </div>
		<div class="row pad-30">
			<div class="col-lg-12">
			  <button class="g-signin hidden"
		        data-scope="https://www.googleapis.com/auth/plus.login"
		        data-requestvisibleactions="http://schemas.google.com/AddActivity"
		        data-clientId="822138136578-lt4p4vu91raqj6gf6jqdgj3bglptru83.apps.googleusercontent.com"
		        data-callback="signIn"
		        data-theme="dark"
		        data-cookiepolicy="single_host_origin">
		    </button>
		    </div>
		</div>
    </div>
</header>
